header {
    position: relative;
    box-shadow: 0px -5px 15px 0px gray;
}

table {
    border-collapse: separate !important;
    border-spacing: 0 3px !important;
}

tr {
    cursor: pointer;
}

h6 {
    text-overflow: ellipsis;
    overflow: hidden;
}

.color-th {
    color: #B41D76 !important; 
}

.clientImg  {
    height: 30vh;
    background: center no-repeat;
    background-size: cover;
}